abbr
{
	letter-spacing: .01em;
}

body > header
{
	display: block;
	background-color: var(--perita-top-background);
	padding: 0.67rem;
}

a, summary {
	color: var(--perita-link-color);
	cursor: pointer;
	text-decoration: none;
}

a:hover, summary:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3.2rem;
	line-height: 1.25;
	margin-top: .415em;
	margin-bottom: .415em;
}

h2 {
	font-size: 2.4rem;
	line-height: 1.509;
	margin-top: 1.245em;
	margin-bottom: .415em;
}

h3 {
	font-size: 2rem;
	line-height: 1.66;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

h2 + section h3 {
	margin-top: 0;
}

p {
	font-size: 1em;
	line-height: 1.4;
	text-align: justify;
	text-justify: inter-character;
}

p {
	margin-top: 1.4em;
	margin-bottom: 1.4em;
}

h2 + p {
	margin-top: 0;
}

footer p {
	text-align: center;
}

body > header h1 {
	margin: 0;
	text-align: center;
}

body > header img {
	display: inline-block;
}

nav a {
	color: var(--perita-background-color);
}

nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	gap: .5em;
	font-size: 1.2em;
	justify-content: center;
}

nav li {
	padding: 0.375em 0.75em;
	border-radius: 10px;
}

nav li[aria-current] {
	background-color: var(--perita-accent-color-dark);
	font-weight: bold;
}

video {
	width: 100%;
}
