include(`reset.css')
include(`base.css')

article {
	max-width: 960px;
	width: auto;
	margin: 0 auto;
	padding: 0 1.25rem;
}

.center {
	text-align: center;
}

article footer {
	margin-top: 2rem;
}

article footer a[rel="license"] {
	display: inline-block;
}

article footer p {
	margin-bottom: 0;
}

#posts
, .e-content
, article footer
{
	border-top: 1px solid var(--perita-accent-color-light);
}

.float-right img, .float-left img {
	width: 100%;
}

@media (min-width: 640px) {
	figure {
		margin: 0 2.5em;
	}

	.float-right {
		float: right;
	}

	.float-left {
		float: left;
	}

	.float-right img, .float-left img {
		width: auto;
	}
}

ol#posts {
	list-style-type: none;
	margin: 0;
	padding: 1em 0 0;
}

#posts li {
	display: block;
}

#posts li + li {
	margin-top: 1.75em;
}

#posts p {
	margin: 0;
}

#posts .dt-published {
	color: var(--perita-text-color-light);
}

img {
	height: auto;
}
