include(`reset.css')
include(`base.css')

html {
    width: 100%;
}

body > header
{
	position: relative;
	z-index: 1;
}

  body > header
, body > header a
{
	color: var(--perita-background-color);
}

body > header p {
	margin-top: 0;
	margin-bottom: 0;
}

article {
	background-color: var(--perita-article-background);
	max-width: 960px;
	width: auto;
	margin: 0 auto;
	padding: 0 1.25rem 2rem;
	overflow: hidden;
}

li {
	font-size: 1em;
	line-height: 1.4;
	text-align: justify;
	text-justify: inter-character;
	margin-top: .7em;
	margin-bottom: .7em;
}

#game-frame {
	margin: 0 auto;
	background: var(--perita-game-background);
}

#iframe-placeholder {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}

#run-game {
	display: flex;
	align-items: center;
	gap: .5em;
	font-size: 1.2em;
	padding: .4em .8em;
	background-color: var(--perita-button-color);
	color: #f9fef7;
	font-weight: bold;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.1);
}

iframe {
	height: 0;
	width: 0;
	border: 0;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
}

table {
	border-collapse: collapse;
	border: 1px solid #53853e;
}

th {
	background-color: #e8fbe0;
	text-align: left;
}

th, td {
	padding: .375em .625em;
}

thead th, tr:last-child td, tbody tr:last-child th {
	border-bottom: 1px solid #53853e;
}

tbody th, td {
	border-bottom: 1px solid rgba(83, 133, 64, 0.2);
}

th[title] {
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: help;
}

dl {
	background-color: var(--perita-game-background);
	padding: .5em;
	margin: .5em 0 0;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: .5em;
	width: 100%;
}

dt {
	font-weight: bold;
	text-align: right;
}

dd {
	margin: 0;
}

#stores ul {
	display: flex;
	gap: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
}

#store li {
	margin: 0;
	padding: 0;
}
