*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

:root {
	--perita-text-color: #222;
	--perita-text-color-light: #8f8f8f;
	--perita-background-color: #f9fef7;
	--perita-top-background: #79be58;
	--perita-button-color: var(--perita-top-background);
	--perita-article-background: var(--perita-background-color);
	--perita-game-background: #e8fbe0;
	--perita-link-color: #53853e;
	--perita-accent-color-light: #e1cbeb;
	--perita-accent-color-dark: #7f3c9e;
}

html, body {
	height: 100%;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
	color: var(--perita-text-color);
	background-color: var(--perita-background-color);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6rem;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
